*.sublime-project
*.sublime-workspace
*.xcf
.DS_Store
.env
.env.*.local
.env.dusk.*
.env.local
.env.test
.php_cs.cache
.phpstorm.meta.php
.phpunit.result.cache
.project
/.idea
/.vagrant
/.vscode
/coverage
/mix-manifest.json
/nbproject
/public/hot
/public/storage
/storage/*.key
/Vagrantfile_backup
_ide_helper.php
bower_components
composer.phar
coverage.xml
error.log
Homestead.json
Homestead.yaml
http-client.env.json
node_modules
npm-debug.log
output.txt
phpunit.txt
public/images
Thumbs.db
Todo.rtf
vendor
yarn-error.log
